.comment-container {
    width: 772px;
    margin: 0 auto;
    position: relative;
    padding: 20px;
    padding-right: 40px;
    background: #fff;
    margin-bottom: 40px;
    border-radius: 5px;
}

.comment-form {
    display: flex;
    position: relative;
    padding-top: 32px;
    padding-bottom: 28px;
    border-radius: 2px;
}

.avatar-box {
    flex: 0 0 auto;
    position: relative;
}

.avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.form-box {
    flex: 1 1 auto;
    position: relative;
}

.input-box {
    background: #fff;
    transition: all 0.3s;
    background-color: #f4f5f5;
    border: 1px solid #f4f5f5;
    border-radius: 2px;
    word-break: break-word;
}

.comment-rich {
    position: relative;
    padding: 8px 12px;
    color: #1d2129;
    outline: none;
    min-height: 72px;
    box-sizing: border-box;
    line-height: 20px;
    font-size: 14px;
    resize: both;

    &:empty:before {
        content: "输入评论（Enter换行，Ctrl + Enter发送）";
        cursor: text;
        color: gray;
    }
}

.comment-rich-focus {
    box-shadow: inset 0 0 0 1px #1e80ff;
    background: #fff;
    border-radius: 2px;
}

.comment-submit {
    flex: 0 0 auto;
    margin-left: auto;

    span {
        font-size: 14px;
        line-height: 22px;
        letter-spacing: 0.2px;
        color: #86909c;
        margin-right: 16px;
    }

    .submit-button {
        flex: 0 0 auto;
        margin-left: auto;
        width: 92px;
        text-align: center;
        font-size: 14px;
        line-height: 36px;
        border-radius: 2px;
        color: #fff;
        padding: 0;
        cursor: pointer;
    }

    .button-enable {
        background-color: #1e80ff;
        &:hover {
            background-color: #388eff;
        }
    }

    .button-disable {
        background-color: #abcdff;
    }

    .button-blur {
        background-color: #c9cdd4;
    }
}

.action-box {
    display: flex;
    align-items: center;
    margin-top: 8px;

    .item {
        margin-right: 16px;
        line-height: 20px;
        font-size: 12px;
        cursor: pointer;
        color: #86909c;
    }
}

.emoji {
    cursor: pointer;
}

.title {
    position: relative;
    line-height: 24px;
    font-weight: 500;
    font-size: 16px;
    color: #1d2129;
    width: 100%;
    padding-bottom: 8px;
}

.comment {
    display: flex;
    padding: 12px 0;
    border-bottom: 1px solid #e5e6eb;

    &:last-child {
        border-bottom: none;
    }
}

.user-popover {
    flex: 0 0 auto;
    height: 32px;
    width: 32px;
    display: inline;
}

.content-box {
    flex: 1 1 auto;
    margin-left: 16px;

    .user-box {
        display: flex;
        align-items: center;

        .username {
            font-weight: 500;
            max-width: 90px !important;
            font-size: 14px;
            color: #1d2129;
        }

        .divide {
            display: block;
            width: 1px;
            height: 14px;
            background: #e5e6eb;
            margin: 0 12px;
        }
    }

    .content {
        display: -webkit-box;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-box-orient: vertical;

        font-size: 14px;
        line-height: 22px;
        color: #4e5969;
        margin-top: 8px;
        -webkit-line-clamp: 6;
    }

    .parent-wrapper {
        display: flex;
        background: #eaecf1;
        border-radius: 2px;
        padding: 0 12px;
        line-height: 34px;
        height: 34px;
        font-size: 14px;
        color: #4e5969;
        margin-top: 8px;

        .parent-content {
            flex-shrink: 1;
            display: -webkit-box;
            overflow: hidden;
            text-overflow: ellipsis;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1;
        }
    }

    .limit-btn {
        margin-top: 8px;
        cursor: pointer;
        font-size: 14px;
        line-height: 22px;
        color: #1e80ff;
    }

    .subcomment-wrapper {
        .sub-comment-list {
            padding: 0 12px;
            background: #f7f8fa;
            border-radius: 2px;

            &:first-child {
                margin-top: 12px;
            }

            .subcomment {
                display: flex;
                padding: 12px 0;
                border-bottom: 1px solid #e5e6eb;

                &:last-child {
                    border-bottom: none;
                }
            }
        }
    }
}

.comment-time {
    color: #6b6b6b;
    font-size: 10px;
}
