.footer {
    background: #232323;
    padding: 15px 0 40px 0;
    text-align: center;
    color: #888;
    font-size: 13px;
    line-height: 2;
    height: 180px;

    .footer-inner {
        margin: 0;
        width: 100%;
        p {
            margin: 5px 0;
        }
    }

    .footer-image {
        background: url(https://cdn.ego1st.cn/themeImg/cat.png) no-repeat 50%;
        background-size: 500px;
        height: 315px;
        z-index: 1;
        position: absolute;
        bottom: 0px;
        width: 100%;
        pointer-events: none;
    }

    .author {
        font-family: "Caroline", sans-serif;
        font-size: 20px;
    }

    .copyrightHolder {
        margin: 0 5px;
    }
}
